@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
  --primary-red: #ff6060;
  --primary-grey: #f6f6f6;
  --secondary-grey: #c4c4c4;
}

body {
  font-family: "Montserrat", sans-serif;
}
