.accordion {
  width: 75%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 24px;
  line-height: 34px;
}

.accordion__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--primary-red);
  color: white;
  border-radius: 5px;
}

.accordion__header,
.accordion__text {
  padding: 1rem;
}

.accordion__text {
  background-color: var(--primary-grey);
  color: var(--primary-red);
  margin-bottom: 1rem;
  padding: 1.5rem;
}

@media screen and (max-width: 768px) {
  .accordion {
    font-size: 18px;
  }
}
